*{
font-size:26px;
}


body{
background-image:url(i7.jpg);
background-size:cover;
background-position:center;
}
table{
background-color:rgb(253,245,230,0.7);
margin-top:100px;
width:28%;
height:90%;
}
p{
font-size:23px;
font-family:Centaur;
}

p2{
font-size:23px;
font-weight:bold;
}